MassiveInteractiveGraph.DataLoader/Service References/DataManagementService/DataManagement.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DataManagement" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:52253/DataManagement.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:52253/DataManagement.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:52253/DataManagement.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MassiveInteractiveGraph.Services" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDataManagement_ListActiveNodes_InputMessage">
    <wsdl:part name="parameters" element="tns:ListActiveNodes" />
  </wsdl:message>
  <wsdl:message name="IDataManagement_ListActiveNodes_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListActiveNodesResponse" />
  </wsdl:message>
  <wsdl:message name="IDataManagement_AddNodes_InputMessage">
    <wsdl:part name="parameters" element="tns:AddNodes" />
  </wsdl:message>
  <wsdl:message name="IDataManagement_AddNodes_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddNodesResponse" />
  </wsdl:message>
  <wsdl:message name="IDataManagement_RemoveNodes_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveNodes" />
  </wsdl:message>
  <wsdl:message name="IDataManagement_RemoveNodes_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveNodesResponse" />
  </wsdl:message>
  <wsdl:message name="IDataManagement_ListActiveLinks_InputMessage">
    <wsdl:part name="parameters" element="tns:ListActiveLinks" />
  </wsdl:message>
  <wsdl:message name="IDataManagement_ListActiveLinks_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListActiveLinksResponse" />
  </wsdl:message>
  <wsdl:message name="IDataManagement_AddLinks_InputMessage">
    <wsdl:part name="parameters" element="tns:AddLinks" />
  </wsdl:message>
  <wsdl:message name="IDataManagement_AddLinks_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddLinksResponse" />
  </wsdl:message>
  <wsdl:message name="IDataManagement_RemoveLinks_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveLinks" />
  </wsdl:message>
  <wsdl:message name="IDataManagement_RemoveLinks_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveLinksResponse" />
  </wsdl:message>
  <wsdl:message name="IDataManagement_RenameNodes_InputMessage">
    <wsdl:part name="parameters" element="tns:RenameNodes" />
  </wsdl:message>
  <wsdl:message name="IDataManagement_RenameNodes_OutputMessage">
    <wsdl:part name="parameters" element="tns:RenameNodesResponse" />
  </wsdl:message>
  <wsdl:portType name="IDataManagement">
    <wsdl:operation name="ListActiveNodes">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataManagement/ListActiveNodes" message="tns:IDataManagement_ListActiveNodes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataManagement/ListActiveNodesResponse" message="tns:IDataManagement_ListActiveNodes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddNodes">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataManagement/AddNodes" message="tns:IDataManagement_AddNodes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataManagement/AddNodesResponse" message="tns:IDataManagement_AddNodes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveNodes">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataManagement/RemoveNodes" message="tns:IDataManagement_RemoveNodes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataManagement/RemoveNodesResponse" message="tns:IDataManagement_RemoveNodes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListActiveLinks">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataManagement/ListActiveLinks" message="tns:IDataManagement_ListActiveLinks_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataManagement/ListActiveLinksResponse" message="tns:IDataManagement_ListActiveLinks_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddLinks">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataManagement/AddLinks" message="tns:IDataManagement_AddLinks_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataManagement/AddLinksResponse" message="tns:IDataManagement_AddLinks_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveLinks">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataManagement/RemoveLinks" message="tns:IDataManagement_RemoveLinks_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataManagement/RemoveLinksResponse" message="tns:IDataManagement_RemoveLinks_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RenameNodes">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataManagement/RenameNodes" message="tns:IDataManagement_RenameNodes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataManagement/RenameNodesResponse" message="tns:IDataManagement_RenameNodes_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDataManagement" type="tns:IDataManagement">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListActiveNodes">
      <soap:operation soapAction="http://tempuri.org/IDataManagement/ListActiveNodes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddNodes">
      <soap:operation soapAction="http://tempuri.org/IDataManagement/AddNodes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveNodes">
      <soap:operation soapAction="http://tempuri.org/IDataManagement/RemoveNodes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListActiveLinks">
      <soap:operation soapAction="http://tempuri.org/IDataManagement/ListActiveLinks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddLinks">
      <soap:operation soapAction="http://tempuri.org/IDataManagement/AddLinks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveLinks">
      <soap:operation soapAction="http://tempuri.org/IDataManagement/RemoveLinks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RenameNodes">
      <soap:operation soapAction="http://tempuri.org/IDataManagement/RenameNodes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DataManagement">
    <wsdl:port name="BasicHttpBinding_IDataManagement" binding="tns:BasicHttpBinding_IDataManagement">
      <soap:address location="http://localhost:52253/DataManagement.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>