MassiveInteractiveGraph.DataLoader/Service References/DataManagementService/DataManagement.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:52253/DataManagement.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MassiveInteractiveGraph.Services" />
  <xs:element name="ListActiveNodes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListActiveNodesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MassiveInteractiveGraph.Services" minOccurs="0" name="ListActiveNodesResult" nillable="true" type="q1:ArrayOfDataManagementNode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNodes">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MassiveInteractiveGraph.Services" minOccurs="0" name="nodes" nillable="true" type="q2:ArrayOfDataManagementNode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNodesResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveNodes">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/MassiveInteractiveGraph.Services" minOccurs="0" name="nodes" nillable="true" type="q3:ArrayOfDataManagementNode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveNodesResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListActiveLinks">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListActiveLinksResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/MassiveInteractiveGraph.Services" minOccurs="0" name="ListActiveLinksResult" nillable="true" type="q4:ArrayOfDataManagementLink" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddLinks">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/MassiveInteractiveGraph.Services" minOccurs="0" name="links" nillable="true" type="q5:ArrayOfDataManagementLink" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddLinksResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveLinks">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/MassiveInteractiveGraph.Services" minOccurs="0" name="links" nillable="true" type="q6:ArrayOfDataManagementLink" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveLinksResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RenameNodes">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/MassiveInteractiveGraph.Services" minOccurs="0" name="nodes" nillable="true" type="q7:ArrayOfDataManagementNode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RenameNodesResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>